.userAccess{
  color: #b37313;
}
.scale {
  font-weight: bold;
  padding-top: 18px;
}
.bar {
  /* background-color: rgb(134, 193, 207); */
  margin: 1% 1% -10px 1%;
  text-align: center;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  z-index: 1;
}
